@import '../../base';

.burn-count {
    &__container {
        width: 100%;
        max-height: 124px;
        background-color: $light;
        border-radius: 5px;
        display: flex;
        align-items: center;
        padding: 32px;
        justify-content: flex-start;
        gap: 30px;
        &--Calories {
           .burn-count__icon {
            @include calories;
           }
        }
        &--Proteines {
            .burn-count__icon {
             @include proteines;
            }
        }
        &--Glucides {
            .burn-count__icon {
             @include glucides;
            }
        }
        &--Lipides {
            .burn-count__icon {
             @include lipides;
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
    }
    &__icon {
        width: 60px;
        height: 60px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__type {
        color: $gray;
    }
}

// @media screen and (max-width: 1024px) {
//     .burn-count {
//         &__container {
//             padding: 20px;
//         }
//     }
// }