@import '../../base';

.workout {
    width: 258px;
    height: 263px;
    background-color: $maincolor;
    border-radius: 5px;


    .recharts-text {
        tspan {
            fill: white;
            font-size: 12px;
            line-height: 24px;
        }
    }

    .recharts-polar-radius-axis {
        display: none;
    }
}