@import '../../base';

.daily-activity {
    width: 835px;
    height: 320px;
    background-color: $light;
    border-radius: 5px;

    .bar-graph {
        position: relative;
        &__title {
            position: absolute;
            height: 50px;
            display: flex;
            align-items: center;
            top: 0;
            left: 25px;
        }
    }
    
    .recharts-wrapper {
        position: relative;
        padding: 80px 0px 0px 20px;
    }

    .recharts-text {
        fill: $gray;;
    }
    
    .recharts-legend-wrapper {
        width: 100% !important;
        left: unset !important;
        bottom: unset !important;
        top: 0;
        right: 25px;
        max-height: 50px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
    }
    .recharts-default-legend {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 50px;
    }
    .recharts-legend-item {
        display: flex !important;
        align-items: center;
        &:nth-child(1) {
            margin-right: 30px !important;
        }
        &-text {
            color: $gray !important;
        }
        svg.recharts-surface {
            max-width: 10px;
        }
    }

    .bar-graph {
        &__tooltip {
            background-color: red;
            font-weight: 39px;
            // height: 63px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        &__tooltip-text {
            color: white;
            padding: 10px 20px;
        }
    }
}
