@import '../../base';

.duration {
    width: 100%;
    background-color: #FF0000;
    border-radius: 5px;
    width: 258px;
    height: 263px;
    position: relative;
    display: flex;
    justify-content: center;

    &__title {
        padding: 20px 30px 30px 20px;
        color: rgba(255,255,255, 50%);
    }
    .recharts-wrapper {
        padding: 0px;
        position: absolute !important;
        // bottom: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    .recharts-cartesian-axis-line,
    .recharts-cartesian-axis-tick-line {
        display: none;
    }

    .recharts-dot {
        position: relative;
    }


    &__cursor {
        width: 258px;
        height: 263px;
        background-color: blue;
        position: absolute !important;
        top: 0;
        z-index: 100;
    }

    .recharts-tooltip-cursor {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(50%);
    }

    .recharts-line {
        path {
            width: 258px !important;
        height: 263px !important;
        }
    }

    &__tooltip {
        background-color: white;
        padding:7px 7px;
        font-size: 8px;
        line-height: 24px;
    }

    &__days {
        display: flex;
        width: 100%;
        position: absolute;
        bottom: 10px;
        list-style: none;
        justify-content: space-between;
        padding: 0 10px;
        li {
            color: rgba(255,255,255, 50%);
        }
    }
}