@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');

$maincolor: black;
$light: #FBFBFB;
$white: white;
$subcolor: red;
$gray: #74798C;

$mainfont: 'Roboto', sans-serif;



@mixin calories {
    background-color: rgba(255, 0, 0, 0.07)
}

@mixin proteines {
    background-color: rgba(74, 184, 255, 0.1);;
}

@mixin glucides {
    background-color: rgba(249, 206, 35, 0.1);
}

@mixin lipides {
    background-color: rgba(253, 81, 129, 0.1);
}




h1, h2, h3, h4, h5, h6, p {
    font-family: $mainfont;
}

h1 {
    font-size: 48px;
    line-height: 58px;
    font-weight: 500;
}


.homepage,
.errorpage {
    display: flex;
    width: 100%;
    padding-top: 30px;
    flex-direction: column;
    align-items: center;

    a {
        padding: 10px;

    }
}