* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 90px 1fr;
}

.body-section {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 117px 1fr;
}

.body-container {
  width: 100%;
  height: 100%;
  padding: 70px 100px;
  display: grid;
  grid-template-rows: 150px 1fr;
}

@media screen and (max-width: 1024px) {
  .body-container {
    padding: 20px;
  }
}