@import '../../_base.scss';

.body-header {
    width: 100%;
    height: 100%;

    &__title {
        span {
            color: $subcolor;
        }
    }

    &__text {
        font-size: 18px;
        line-height: 24px;
        font-weight: 300;
    }
}